doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id= 'head')
    
    block content
    
    div(id= 'theawesome')
    
    div(id= 'content')
    
    div(id= 'foot')
      a(href= '/login/' ) Log in