doctype html
html
  head
    title= title

    link(href='/css/pepper-grinder/jquery-ui-1.10.4.custom.css' rel='stylesheet')
    script(src='/js/jquery-1.10.2.js')
    script(src='/js/jquery-ui-1.10.4.custom.js')
    script(src='/js/jquery.dataTables.js')
    
    script(src='/bootstrap/js/bootstrap.min.js')
    
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')    

    script.
      var btn = $.fn.button.noConflict() // reverts $.fn.button to jqueryui btn
      $.fn.btn = btn // assigns bootstrap button functionality to $.fn.btn
      
      function isEmptyObject(obj) {
        var name;
        
        for (name in obj) {
          return false;
        }
        
        return true;
      }
        
  body
    
    style.
      body {
       padding-top: 40px;
       padding-bottom: 40px;
      }
      
      .form-signin {
       max-width: 330px;
       padding: 15px;
       margin: 0 auto;
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
       margin-bottom: 10px;
      }
      .form-signin .checkbox {
       font-weight: normal;
      }
      .form-signin .form-control {
       position: relative;
       height: auto;
       -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
                  box-sizing: border-box;
       padding: 10px;
       font-size: 16px;
      }
      .form-signin .form-control:focus {
       z-index: 2;
      }
      .form-signin input[type="email"] {
       margin-bottom: -1px;
       border-bottom-right-radius: 0;
       border-bottom-left-radius: 0;
      }
      .form-signin input[type="password"] {
       margin-bottom: 10px;
       border-top-left-radius: 0;
       border-top-right-radius: 0;
      }
    
    div(class='container')
      h5(class='form-signin-heading')
        a(href='/')
          img(src='/images/wblogo.png')
    
    block content

  


 