extends layout

block content
  h1= title
  
  div(class='container')
    form.form-vertical(method="post", id="login")
      label Email: 
      input(type='text',name='username',id='username', value=username)
      label Password:
      input(type='password',name='password',id='password')
      label 
      button(id='login' type='submit' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-button-text-only' role='button' aria-disabled='false')
        span(class='ui-button-text') &nbsp;Log In&nbsp; 
           
      
  div
    p= message